/*Big tablets to 1200px (width smaller than 1140px row)*/
@media only screen and (max-width: 1200px) {
    .intro-text-box {
        width: 100%;
        padding: 0 2%;
    }
        
    .row {padding: 0 2%; }
}

/*Small tablets to big tabkets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body {   font-size: 18px; }
    section { padding: 60px 0;} 
    
    .icon-small { 
        width: 17px;
        margin-right: 10px;
    }
    .card-text-view {
        width: 100%;
        margin-left: 0%;
    }
    .p-image-info {font-size: 250%;}
    .info-form {width: 90%;}
}

/*Small phones to small tabkets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    section { padding: 30px 0;}
    .row, .intro-text-box {padding: 0 4%;}
    .intro-text-box {width:100%;}
    
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    } 

    h1 {font-size: 180%;}
    h2 {font-size: 150%;}

    .form-box {
        position: absolute;
        height: auto;
        width: 90%;
        padding-top: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

/*small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section {padding: 25px 0;}
    .info-form {width:100%;}
}